<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>

<% if (locals.business) { %>

    <section id="container">
    <% business.forEach(busi => { %>

        <section id="business">
            <article id="image"> <img src="<%= busi.image %>"></article>
            <div id="container2">
                <article id="title"> <%= busi.name %>  </article>
                <article id="description"> <%= busi.description %>  </article>
            </div>

        </section>
    
     
    <% }) %>
</section>
 
<% } %>


</main>
<%- include("./partials/footer")%>

</body>
</html>