<!DOCTYPE html>
<html lang="en">

    <%-include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
        <section id="banner">
            <img src="/img/viñedos.jpg">
        </section>

        <section id="sub-banner">
            <article>
                <i class="fas fa-truck"></i>
                <p>Envios</p>
            </article>
            <article>
                <i class="fas fa-money-bill-alt"></i>
                <p>Pagos</p>
            </article>
            <article>
                <i class="fas fa-gifts"></i>
                <p>Ofertas!</p>
            </article>
        </section>
        <section id="texto-res">
            <p>Vinos premium</p>

        </section>
        <section id="section-vinos">
            <% for(i=0;i < 3;i++){ %>
                <article>
                    <img src="<%= productos[i].image%>">
                    <p><%= productos[i].name%></p>
                    <p>$ <%= productos[i].price%></p>
                </article>
                <% } %>
        </section>

    </main>

    <%- include("./partials/footer") %>


</body>

</html>