<!DOCTYPE html>
<html lang="en">

    <%-include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>

        <div class="blockquote-wrapper">
            <div class="blockquote">
              <h1>
                Comprá los mejores vinos de Argentina
               </h1>
              <h4></h4>
            </div>
          </div>
            
          <section id="sub-banner">
            <article>
                <i class="fas fa-truck"></i>
                <p>Envios</p>
            </article>
            <article >
                <i class="fas fa-money-bill-alt"></i>
                <p>Pagos</p>
            </article>
            <article>
                <i class="fas fa-gifts"></i>
                <p>Ofertas!</p>
            </article>
        </section>


          <section id="banner">
            <img src="/img/paisaje-vino.jpg">
        </section>






        <section id="texto-res">
            <p>Productos destacados</p>

        </section>
        <section id="section-vinos">
            <% for(i=0;i < 4;i++){ %>
                <article>
                    <img src="<%= productos[i].image%>">
                    <p><%= productos[i].name%></p>
                    <p>$ <%= productos[i].price%></p>
                </article>
                <% } %>
        </section>

    </main>

    <%- include("./partials/footer") %>


</body>

</html>