<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main class="main">
        <div class="cuadrop">
            <div class="producto"><img src="<%=product.image %>" alt="" srcset=""></div>
            <div class="otros">
                <div class="nombre"><p><%= product.idProduct %></p></div>
                <div class="nombre"><p><%= product.name %></p></div>
                <div class="nombre"><p><%= product.description %></p></div>
                <div class="nombre"><p><%= product.category %></p></div>
                <div class="c">
                    <div class="c1"><p>$<%= product.price %></p></div>
                    <div class="c2"><p><%= product.colors %></p></div>
                </div>

                
                

                <div class="botones">
               <a href="/products/<%= product.idProduct %>/edit"> 
                <input type="button" class="añadir" value="Editar Producto"></a>


                <form action="/products/<%= product.idProduct %>?_method=DELETE" method="post">
                   <% console.log(product.idProduct) %>
                   <button type="submit" class="añadir ">Eliminar Producto</button>
                   
                </form>
            </div>
                
            </div>
            
        </div>
        <hr>
        <div class="palabritas">
            <input type="button" class="solapas" value="Descripción">
            <input type="button" class="solapas" value="Valoraciones">
        </div>

    </main>
    <%- include("./partials/footer")%>

    
</body>
</html>