<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>

    <body>
        <%- include("./partials/header")%>
            <main>
                <form action="/products/<%= product.idProduct %>?_method=PUT" method="post">

                <div class="container">


                    <div class="image">
                        <img src="<%=product.image %>" alt="" srcset="">
                    </div>

                    <div class="content">
                        <div class="description">
                            <input type="hidden" name="id" value="<%= product.idProduct %>"> </input>
                            <div class="detail">
                                <p>Nombre:</p><input type="text" name="name" value="<%= product.name %>"> </input>
                            </div>
                            <div class="detail">
                                <p>Descripción:</p><textarea cols="41" rows="3"name="description"
                                    > <%= product.description %></textarea>
                            </div>
                            <div class="detail">
                                <p>Bodega:</p><input type="text" name="category" value="<%= product.business.name%>">
                                </input>
                            </div>
                            <div class="detail">
                                <p>Precio:</p><input type="text" name="price" value="<%= product.price %>"> </input>
                            </div>
                            <div class="detail">
                                <p>Tipo:</p><input type="text" name="colors" value="<%=product.categories.type%>"
                                    placeholder="Tipo">
                            </div>
                            </input><br>

                        </div>

                        <div class="buttons">
                            <button type="submit" class="añadir">Confirmar edición</button>

                        </div>

                    </div>
                </div>
                </form>

            </main>
            <%- include("./partials/footer")%>


    </body>

</html>