<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>

    <a href="/products/create"> Crear nuevo producto</a>
    <h1 class="titulo">Listado de Productos</h1>
    
        <ul class="w">
            <% productos.forEach(product => { %>
                <div>
            <!--<li> ID: <%= product.id%>  </li>-->
            <!--<li> Categoria: <%= product.category%></li>-->
            <!--<li>Imagen: <%= product.image%></li>-->
            <li class="foto"><img src="<%=product.image %>" alt=""></li>
            <i class="fas fa-truck"></i>
            <li><%= product.name%></li>
            <li class="des">Descripcion: <%= product.description%></li>
            <li class="bod"> Bodega: <%= product.color%></li>
            <li class="pre"> Precio: <%= product.price%></li>
                    </div>
            <br>
            <% }) %>
        </ul>
    
    </main>
    <%- include("./partials/footer")%>

</body>
</html>