<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main>
    <h1 class="titulo">Listado de Productos</h1>
    
        <ul>
            <% productos.forEach(product => { %>
            <li> ID: <%= product.id%>  </li>
            <li>Nombre: <%= product.name%></li>
            <li>Descripcion: <%= product.description%></li>
            <li>Imagen: <%= product.image%></li>
            <li> Categoria: <%= product.category%></li>
            <li> Color: <%= product.color%></li>
            <li> Precio: <%= product.price%></li>
            <br>
            <% }) %>
        </ul>
    
    </main>
    <%- include("./partials/footer")%>

</body>
</html>