<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head")%>
<body>
    <%- include("./partials/header")%>
    <main class="main">
        <div class="cuadrop">
            <div class="producto"><img src="/img/vino3.jpg" alt="" srcset=""></div>
            <div class="otros">
               

                


                <form action="/products/<%= product.id %>?_method=PUT" method="post">
                   
                    <div class="nombre">
                        <p>El ID del producto es: <%= product.id %></p>
                        <input type="hidden" name="id" value="<%= product.id %>">  </input>
                        <input type="text" name="name" value="<%= product.name %>">  </input>
                        <input type="text" name="description" value="<%= product.description %>">  </input>
                        <input type="text" name="category" value="<%= product.category %>">  </input>
                        <input type="text" name="price" value="<%= product.price %>">  </input>
                        <input type="text" name="colors" value="<%= product.colors %>" placeholder="color">  </input><br>
    
                    </div>

                   <button type="submit" class="a침adir ">Confirmar edici칩n</button>
                   <!--<input type="button" class="a침adir" value="Eliminar Producto">/-->
                </form>
                


                <div class="d">
                    <input type="button" class="d1" value="-">
                    <div class="d1">1</div>
                    <input type="button" class="d1" value="+">
                </div>
            </div>
            
        </div>
        <<hr>
        <div class="palabritas">
            <input type="button" class="solapas" value="Descripci칩n">
            <input type="button" class="solapas" value="Valoraciones">
        </div>
        
        

        <div class="final">
            <div class="relacionados">Productos Relacionados</div>
            <%- include("./partials/relacionados")%>
        </div>
    </main>
    <%- include("./partials/footer")%>

    
</body>
</html>