<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>
    <main>
        <h1 class="titulo">Completa tus datos</h1>

            <form action="/register" method="POST" class="formulario">
            <div>
                <div><label for="nombre">Nombre y Apellido</label></div>
                <div><input type="text" name="nombreCompleto" id="nombreCompleto" value="<%= locals.old && old.nombreCompleto ? old.nombreCompleto : ""  %>" 
                    <% locals.errors && locals.errors.nombreCompleto ? "is-invalid" : null %>></div>
                <% if (locals.errors && locals.errors.nombreCompleto) { %>
                    <%= errors.nombreCompleto.msg %>
                <% } %>
            </div>
 
            <div>
                <div><label for="email">E-mail</label></div>
                <div><input type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : ""  %>"></div>
                <% if (locals.errors && locals.errors.email) { %>
                    <%= errors.email.msg %>
                <% } %>
            </div>
            <div>
                <div><label for="fecha">Fecha de nacimiento</label></div>
                <div><input type="date" name="fecha" id="fecha"></div>
            </div>
            <div>
                <div><label for="contrasenia">Contraseña</label></div>
                <div><input type="password" name="contrasenia" id="contrasenia"></div>
                <% if (locals.errors && locals.errors.contrasenia) { %>
                    <%= errors.contrasenia.msg %>
                <% } %>
            </div>
            <div></div>
            <div>
                <label for="acepto">Acepto las condiciones</label>
                <input type="checkbox" name="acepto" id="acepto">
            </div>
            <div>
                <button type="submit">Crear Cuenta</button>
            </div>
            </form>
        
    </main>
    <%- include("./partials/footer")%>

</body>
</html>