<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head")%>

<body>
    <%- include("./partials/header")%>
    <main>
        
            <div class="form">
                <div class="title">Completá tus datos</div>
        
                <form action="/register" method="POST">

                    <div class="input-container ic1">
                        <div><input id="nombreCompleto" class="input" type="text" name="nombreCompleto" placeholder="Nombre y Apellido" value="<%= locals.old && old.nombreCompleto ? old.nombreCompleto : ""  %>"/>
                        <p id="a" style="display: none;">Este campo es obligatorio</p>
                        <p id="a1" style="display: none;">El nombre debe contener mínimo 3 caracteres</p>
                            <% locals.errors && locals.errors.nombreCompleto ? "is-invalid" : null %></div>
                            <% if (locals.errors && locals.errors.nombreCompleto) { %>
                                <%= errors.nombreCompleto.msg %>
                            <% } %>
                        </div>
        
                    <div class="input-container ic1">
                        <div><input id="email" class="input" type="email" name="email" placeholder="Email" value="<%= locals.old && old.email ? old.email : ""  %>"/></div>
                        <p id="b" style="display: none;">Este campo debe contener un email válido</p>
                        
                        <% if (locals.errors && locals.errors.email) { %>
                            <%= errors.email.msg %>
                        <% } %>
                    </div>
        
                    <div class="input-container ic1">
                        <input id="password" class="input" type="password" name="contrasenia" placeholder="Password" />
                        <p id="c" style="display: none;">Este campo es obligatorio</p>
                        <p id="c1" style="display: none;">La contraseña debe tener mínimo 8 caracteres</p>
                        <% if (locals.errors && locals.errors.contrasenia) { %>
                            <%= errors.contrasenia.msg %>
                        <% } %>
                    </div>

                    <div class="input-container ic1">
                        
                        <div><input type="text" name="fecha" class="input" placeholder="Fecha de Nacimiento" onclick="ocultarError();" onfocus="(this.type='date')" onblur="(this.type='text')"></div>
                    
                    </div>
        
                    <div id="datos">
                        <label for="acepto">Acepto las condiciones</label>
                        <input type="checkbox" name="acepto" id="acepto">
                    </div><br>

                    
                    <button type="submit" class="submit">Crear cuenta</button>
            </form>
              </div>


    </main>
    <%- include("./partials/footer")%>
    
</body>
</html>